.about-me {
  .name {
    font-weight: bold;
    @include media-breakpoint-down(sm) {
      & {
        display: none;
      }
    }
  }
  .tagline {
    font-size: 1.5rem;
    font-weight: 100;
    margin-bottom: 1.25rem;
    @include media-breakpoint-down(sm) {
      & {
        margin-bottom: 0.5rem;
      }
    }
  }
  .description {
    color: rgba($text-color, 0.7);
    margin-bottom: 1.5rem;
  }
}
