body {
  font-family: "Varela Round", sans-serif;
}

.content {
  position: relative;
  margin-left: $sidebar-width;
  @include media-breakpoint-down(md) {
    & {
      margin-left: 0;
      padding-top: 3rem;
    }
  }
  @include media-breakpoint-down(sm) {
    & {
      padding-top: 6rem;
    }
  }
}
