body {
  font-family: "Varela Round", sans-serif;
}

.content {
  position: relative;
  margin-left: $sidebar-width;
  @include media-breakpoint-down(md) {
    & {
      margin-left: 0;
      padding-top: 3rem;
    }
  }
  @include media-breakpoint-down(sm) {
    & {
      padding-top: 6rem;
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: 0.5s;
  cursor: pointer;
}
