.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: $sidebar-width;
  background: lighten($primary-color, 6);
  color: $text-color;
  text-align: center;
  padding: 1.5rem 1rem;
  z-index: 1;
  transition: 0.5s;
  overflow-y: auto;
  box-shadow: 2px 0px 6px 0px rgba(0, 0, 0, 0.1);
  @include media-breakpoint-down(md) {
    & {
      margin-left: -$sidebar-width;
    }
  }
  @include media-breakpoint-down(md) {
    & {
      padding-bottom: 7rem;
    }
  }
  .name {
    font-size: 1.5rem;
  }
  .avatar {
    max-width: 160px;
    padding: 0.75rem 0;
  }
  .bio {
    font-size: 1rem;
  }
  .social {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $text-color;
      text-decoration: none;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background: $secondary-color;
      transition: 0.5s opacity;
      &:hover {
        opacity: 80%;
      }
    }
  }

  .nav {
    display: flex;
    flex-direction: column;
    text-align: left;
    a {
      font-size: 1rem;
      font-weight: bold;
      padding: 0.5rem;
      text-decoration: none;
      color: rgba($text-color, 0.6);
      transition: 0.25s color;

      &:hover {
        color: $text-color;
      }
      &.active {
        color: $text-color;
      }
    }
  }
  .toggle-mode {
    font-size: 0.875rem;
  }
}

.sidebar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: 0.5s;
  cursor: pointer;
  visibility: hidden;
  @include media-breakpoint-up(lg) {
    opacity: 0 !important;
  }
}
