// Colors
// $primary-color: #3b7eeb;
// $secondary-color: #151e29;
// $text-color: #ffffff;

// .dark-mode {
//   $primary-color: #151e29;
//   $secondary-color: #3b7eeb;
//   $text-color: #ffffff;
// }
$primary-color: #151e29;
$secondary-color: #3b7eeb;
$text-color: #ffffff;

$sidebar-width: 280px;
