// $primary-color: #151e29;
// $secondary-color: #3b7eeb;
// $text-color: #ffffff;

// $primary-color: #fff;
// $secondary-color: rgb(215, 215, 215);
// $text-color: #151e29;

//Dark mode
$primary-color: #000;
$secondary-color: #151e29;
$text-color: #fff;

// $primary-color: #fff;
// $secondary-color: rgb(215, 215, 215);
// $text-color: #151e29;

$sidebar-width: 280px;
