@import "navbar";

@import "sidebar";

@import "social";

@import "button";

@import "businesscard";

.app {
  background: $primary-color;
  color: $text-color;
  min-height: 100vh;
}

.content {
  position: relative;
  margin-left: $sidebar-width;
  padding: 1rem 0;
  @include media-breakpoint-down(md) {
    & {
      margin-left: 0;
      padding-top: 1rem;
    }
  }
  @include media-breakpoint-down(sm) {
    & {
      padding-top: 4.5rem;
    }
  }
}

.page {
  padding: 1rem 2rem;
}

p {
  color: rgba($text-color, 0.7);
}
