.project {
  //Variables
  $border-card: 4px solid rgba(255, 255, 255, 0.1);
  $background-color: lighten($primary-color, 6);

  position: relative;
  .project-navigation {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    .project-page-title {
      font-size: 1.5rem;
      font-family: $font-family-heading;
      margin-left: 1rem;
    }
    .button {
      padding: 0.25rem 0.75rem;
    }
  }
  .project-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: $background-color;
    border-radius: 1rem;
    overflow: hidden;
    border: $border-card;
    // box-shadow: $box-shadow;

    @include media-breakpoint-down(md) {
      & {
      }
    }

    .project-details {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 1rem 2rem;
      .title {
        font-family: $font-family-heading;
        font-size: 2rem;
      }
      .subtitle {
        color: rgba($text-color, 0.6);
      }
      .client,
      .website {
        font-size: 1.25rem;
        b {
          font-weight: bold;
          letter-spacing: normal;
          font-family: $font-family-heading;
          color: rgba($text-color, 0.6);
        }
      }
      .technologies {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .technology {
          .name {
            font-size: 1.25rem;
            font-family: $font-family-heading;
            color: rgba($text-color, 0.6);
          }
          .values {
            letter-spacing: 1px;
          }
        }
      }
    }
    .project-image {
      padding-top: 65%;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  .project-description {
    margin: 2rem 0;
    padding: 2rem;
    background-color: $background-color;
    border: $border-card;
    border-radius: 1rem;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
  }
}
